body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", "canva sans" sans-serif;
  background: linear-gradient(135deg, #05bcf9,#911ddf,#b4c7cd);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-box {
  background: rgba(255, 255, 255, 0.15);
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(26, 26, 26, 0.2);
  text-align: center;
  width: 400px;
  height: 500px;
  animation-duration: 6s;

}

h1 {
  color: white;
  margin-bottom: 20px;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  animation-duration: 6s;
}

button {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: rgba(255, 255, 255, 0.8);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgba(255, 255, 255, 0.2);
  color: black;
  font-size: 3vh;
  text-transform: capitalize;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-duration: 6s;
}

li button {
  background: rgba(255, 255, 255, 0.4);
}
